@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BANDEMIC</h1>
    <p class="lead">The place to go to find a show!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Find out more information about all your favorite artists and track them so you know when they'll be coming to your town!</p>
        <p><a class="btn btn-default" href="https://localhost:44332/Artist">Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tour Dates</h2>
        <p>Here you can view all the upcoming shows happening in your area!</p>
        <p><a class="btn btn-default" href="https://localhost:44332/TourDate">Tour Dates &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venues</h2>
        <p>Discover nearby venues and see who's playing your favorite spot!</p>
        <p><a class="btn btn-default" href="https://localhost:44332/Venue">Venues &raquo;</a></p>
    </div>
</div>